<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Upload your Excel file</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Choose Excel file</label>
                <input type="file" class="form-control" id="file" name="file">
            </div>
            <div class="form-group">
                <label for="unit">Select Unit</label><br>
                <input type="radio" id="mg/dl" name="unit" value="mg/dl" checked>
                <label for="mg/dl">mg/dL</label><br>
                <input type="radio" id="mmol/l" name="unit" value="mmol/l">
                <label for="mmol/l">mmol/L</label><br>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>